{% extends "layout.html" %}

{% block body %}

<form method="POST" action="{{ url_for('rooms_add', room_name=room_name) }}">
  <table>
    <tr>
      <h1>{{ room_name }}</h1>
    </tr>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        {{ error }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Add a new question" />
      </td>
    </tr>
  </table>
</form>

<table>
  <tr>
    <th>Question</th>
    <th>Yes</th>
    <th>No</th>
  </tr>
  <tr>
  </tr>
  {% for question in questions %}
  <tr>
    <td>{{ question.name }}</td>
    <td>{{ question.yes }}</td>
    <td>{{ question.no }}</td>
    <td>
      <form method="POST" action="{{ url_for('rooms_vote_yes', room_name = room_name, question_id = question.id) }}">
        <input type="submit" value="Vote yes" />
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('rooms_vote_no', room_name = room_name, question_id = question.id) }}">
        <input type="submit" value="Vote no" />
      </form>
    </td>
    {% if is_admin %}
    <td>
      <form method="POST"
        action="{{ url_for('rooms_delete_question', room_name = room_name, question_id = question.id) }}">
        <input type="submit" value="Remove" style="color:red;" />
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}